<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields
        addfieldpath="/administrator/components/com_siteareas/models/fields"
    >
        <fieldset
            name="records"
            label="COM_SITEAREAS_CONFIG_RECORDS_SETTINGS_LABEL"
            description="COM_SITEAREAS_CONFIG_RECORDS_SETTINGS_DESC"
        >
            <field
                name="template"
                type="templates"
                label="COM_SITEAREAS_CONFIG_TEMPLATE_LABEL"
                description="COM_SITEAREAS_CONFIG_TEMPLATE_DESC"
            />
        </fieldset>
        <fieldset name="permissions"
            description="JCONFIG_PERMISSIONS_DESC"
            label="JCONFIG_PERMISSIONS_LABEL"
        >

            <field name="rules" type="rules"
                component="com_siteareas"
                filter="rules"
                validate="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                section="component" />
        </fieldset>
    </fields>
</config>
